@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

:root {
  /* Colors */
  --background: #1f1f1f;
	--dark: #262626;
	--dark-grey: #303030;
	--grey: #606063;
	--white: #d1d0d1;
	--font: #abacac;
	--primary: #4578f7;
	--background-light: #353739;
	--border: #242424;
	--dark-border: #141414;


  /* Font-family */
  --font-family: 'Poppins', sans-serif;
}